.Header {
  @include flex(row, end, center);

  width: 100%;
  max-width: 1440px;
  height: 0%;

  padding: 0.5rem 1rem;

  &__search {
    width: 23rem;
    height: 2rem;

    padding: 0 0.5rem;

    font-size: 16px;

    border: none;
    border-radius: 0.375rem;

    background-color: rgba($color: #fff, $alpha: 0.35);
    box-shadow: none;
  }

  &__search:focus {
    outline: 1px solid rgba($color: $auxiliar-color, $alpha: 1);
  }
}
