.Header {
  display: flex;
  justify-content: center;
}
.navegation {
  display: flex;
  flex-direction: inline;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 10px 0;
  width: 960px;
}
.logo {
  display: flex;
  flex-direction: inline;
  max-width: 60px;
  max-height: 60px;
}
.menu {
  display: flex;
  flex-direction: inline;
  align-items: center;
  gap: 60px;
  font-size: 1.5em;
  color: #fff;
  list-style-type: none;
}
