@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Ysabeau+Office:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap");

//Util
@import "../util/variables";
@import "../util/functions";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.25;
  color: $text-color;

  background-color: $background-color;
}

#root {
  display: flex;
}

//Components
@import "../components/Drawer";
